.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

mat-sidenav-container {
    background: linear-gradient(to right, #91eae4ed, #86a8e79f, #7f7fd5a5);
}

.page-header {
    background: url("../../assets/imgs/antoine-barres.jpg") center no-repeat;
    background-color: #B2AFAB;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Center vertically */
    align-items: center;
    /*Center horizontaly */
    justify-content: center;
}

.page-header .filter::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.title-brand {
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    display: block;
}

.presentation-title {

    font-size: 10vw;
    font-weight: 700;
    margin: 0;
    padding: 1em;
    color: #FFFFFF;

    background: -moz-linear-gradient(to bottom, #FFFFFF 35%, #87267c 100%);
    background: -webkit-linear-gradient(to bottom, #FFFFFF 35%, #87267c 100%);
    background: -ms-linear-gradient(to bottom, #FFFFFF 35%, #87267c 100%);
    background: -o-linear-gradient(to bottom, #FFFFFF 35%, #87267c 100%);
    background: linear-gradient(to bottom, #FFFFFF 35%, #87267c 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fog-low {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -35%;
    margin-bottom: -50px;
    width: 110%;
    opacity: .85;
}

.fog-low.right {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -35%;
    margin-bottom: -50px;
    width: 110%;
    opacity: .85;

    margin-left: 30%;
    opacity: 1;
}

.moving-clouds {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 250.625em;
    height: 43.75em;
    -webkit-animation: cloudLoop 80s linear infinite;
    animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

.content-wrapper {
    width: 100%;
    height: max-content;
    padding: 1em 5%;
    display: block;
    text-align: center;
    margin: 20px auto;
}

.content-wrapper h1 {
    padding: 30px;
    font-size: 5em;
    height: fit-content;
    background: linear-gradient(to right, #3734f5a5, #172b35ed);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-wrapper h3 {
    margin-top: 30px;
    font-size: 2em;
}

.content-wrapper span.fire {
    font-size: 5em;
}

.content-wrapper span.title {
    font-size: 5em;
    background: linear-gradient(to right, #a81e35a5, #172b35ed);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

mat-card-content p {
    margin-top: 30px;
    font-family: "Open Sans";
    font-size: 1.2em;
}

mat-grid-list {
    height: 600px;
}

mat-card {
    padding: 0 10px;
    margin: 30px 10px;
    box-shadow: 0 0 10px 6px #090b6f85;
    /* max-height: fit-content;
    max-width: 480px; */
    height: auto;
    width: auto;
}
.card-header-image {
    background-image: url('../../assets/imgs/logo.png');
    background-size: cover;
}
mat-card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 6px #65096fbc;
}

mat-card img {
    max-height: 240px;
    max-width: 380px;
}