.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* .example-spacer {
    flex: 1 1 auto;
} */

.background {
    background:
        url("../../assets/imgs/login-image.jpg") no-repeat;
    background-size: cover;
    
    position: absolute;
    width: 100%;
    /* min-height: 100vh; */
    height: 100%;
    overflow-y: auto;
    /* top: 0;
    left: 0; */
    /* z-index: -1; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}
@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
        width: 100%;
    }
}


.pageTitle {
    color: #FF7600;
    font-size: 3em;
    font-weight: 700;
    line-height: 2em;
}

.pageSubTitle {
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: 300;
}

.wrapper {
    min-width: 200px;
    max-width: 980px;
    padding: 40px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
    max-height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media (max-width: 767px) {
    .wrapper {
        padding: 15px;
        width: 100%;
    }
}

.anchor{
    position: fixed;
    top: 40%;
    right: 3%;
    bottom: 30%;
    /* background: rgb(224, 223, 219);
    overflow-y: auto; */
}

