.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.background {
    background:
        url("../../assets/imgs/login-image.jpg")center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}



.wrapper {
    min-width: 200px;
    max-width: 980px;
    padding: 40px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
    max-height: fit-content;
    display: block;
    text-align: center;
}


.pageTitle {
    color: #FF7600;
    font-size: 3em;
    font-weight: 700;
    line-height: 2em;
}

.pageSubTitle {
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: 300;
}

.anchor {
    position: fixed;
    top: 40%;
    right: 3%;
    bottom: 30%;
    /* background: rgb(224, 223, 219);
    overflow-y: auto; */
}