<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <app-tool-bar [element]="snav" class="example-toolbar"></app-tool-bar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" [autoFocus]="false">
            <app-side-nav></app-side-nav>
        </mat-sidenav>

        <mat-sidenav-content class="background">
            <div class="wrapper" [style]="mobileQuery.matches?'padding: 15px;max-width: 375px;min-width: 200px;':''">
                <header>
                    <nz-skeleton [nzActive]="onTitleLoading" [nzLoading]="onTitleLoading">
                        <h1 class="pageTitle" >{{articleTitle}} </h1>
                        <h2 class="pageSubTitle" >{{articleDesc}}</h2>
                        <div class="pageviewCount">
                            <h3 style="margin-right: 10px;">阅读量: {{articlePv}}</h3>
                            <mat-icon><ng-icon name="bootstrapEyeFill"></ng-icon></mat-icon>
                        </div>
                    </nz-skeleton>

                </header>
            </div>
            <section class="markdown-body"
                [style]="mobileQuery.matches?'padding: 15px;max-width: 375px;min-width: 200px;':''">

                <nz-skeleton [nzActive]="onContentLoading" [nzLoading]="onContentLoading">
                </nz-skeleton>
                <div markdown (ready)="onReady()" katex ngPreserveWhitespaces [disableSanitizer]="true"
                    [data]="markdownData">
                </div>
                <!-- <markdown katex src="../../assets/test.md"></markdown> -->

            </section>

            <div class="anchor" *ngIf="isReady">
                <app-bookmark [inputArray]="titleArray" [contentLoading]="onContentLoading"></app-bookmark>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>