<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="'push'" [autoFocus]="false">
        <app-side-nav></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content class="background">

        <app-tool-bar [element]="sidenav"></app-tool-bar>

        <div class="wrapper">
            <header>
                <nz-skeleton [nzActive]="onTitleLoading" [nzLoading]="onTitleLoading">
                </nz-skeleton>
                <h1 class="pageTitle" *ngIf="!onTitleLoading">{{articleTitle}} </h1>
                <h2 class="pageSubTitle" *ngIf="!onTitleLoading">{{articleDesc}}</h2>
            </header>
        </div>
        <section class="markdown-body">

            <nz-skeleton [nzActive]="onContentLoading" [nzLoading]="onContentLoading">
            </nz-skeleton>
            <div markdown (ready)="onReady()" 
                katex
                ngPreserveWhitespaces
                [disableSanitizer]="true" [data]="markdownData">
            </div>
            <!-- <markdown katex src="../../assets/test.md"></markdown>
            <pre>
                <code class="language-cpp">int a=10;</code>
            </pre>
            <pre>
                <code class="language-shell">$ cat test.txt</code>
            </pre>
            <pre>
                <code class="language-yaml">start: qwe</code>
            </pre> -->
        </section>

        <div class="anchor" *ngIf="isReady">
            <app-bookmark [inputArray]="titleArray" [contentLoading]="onContentLoading"></app-bookmark>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>