.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.background {
    background:
        url("../../assets/imgs/login-image.jpg")center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}



.wrapper {
    min-width: 200px;
    max-width: 980px;
    padding: 40px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
    max-height: fit-content;
    display: block;
    text-align: center;
}

.pageTitle {
    color: #FF7600;
    font-size: 3em;
    font-weight: 700;
    line-height: 2em;
}

.pageSubTitle {
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: 300;
}

.pageviewCount {
    display: inline-flex;
    justify-content: center;
}

.anchor {
    position: fixed;
    top: 40%;
    right: 3%;
    bottom: 30%;
    /* overflow-y: auto; */
}

.bookmarkBox {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-header {
    display: flex;
    color: #0051ff;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header-title {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    padding: 1em;
    background: -moz-linear-gradient(to bottom, #534be5 35%, #87267c 100%);
    background: -webkit-linear-gradient(to bottom, #534be5 35%, #87267c 100%);
    background: -ms-linear-gradient(to bottom, #534be5 35%, #87267c 100%);
    background: -o-linear-gradient(to bottom, #534be5 35%, #87267c 100%);
    background: linear-gradient(to bottom, #534be5 35%, #87267c 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sider-content {
    overflow-y: scroll;
}


.example-listbox-container {
    display: block;
    width: 250px;
    border: 1px solid black;
}

.example-listbox-label {
    display: block;
    padding: 5px;
}

.example-listbox {
    list-style: none;
    padding: 0;
    margin: 0;
}
.example-option {
    position: relative;
    padding: 5px 5px 5px 25px;
    cursor: pointer;
}

.example-option[aria-selected='true']::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m9.55 18-5.7-5.7 1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4Z"/></svg>');
    /* stylelint-disable-line */
    background-size: cover;
    position: absolute;
    left: 2px;
}

.example-option:focus {
    background: rgba(237, 19, 19, 0.2);
}
.example-option:hover{
    font-size: 1.5em;
    font-weight: bold;
    transition: font-size 0.5s, font-weight 0.5s;
}